.Pokecard {
  width: 250px;
  padding: 5px 0;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  background-color: #ffff;
  border-radius: 5px;
}
.Pokecard img {
  transition: all 0.5s;
}
.Pokecard img:hover {
  transform: scale(1.25);
  opacity: 0.76npm run build;
}

.Pokecard-data {
  font-size: 80%;
}
