.Pokecard {
  width: 200px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  background-color: #ffff;
  border-radius: 5px;
}
.Pokecard img {
  width: 40%;
  transition: all 0.5s;
}
.Pokecard img:hover {
  transform: scale(1.25);
}

.Pokecard-data {
  font-size: 80%;
}
